.wp-block-group {

	&.has-background {

		[data-align="full"] & {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	// Clear the top margin for the first-child.
	&:not(.is-layout-flex) > *:first-child {
		margin-top: 0;
	}

	// Last child that is not the appender.
	&:not(.is-layout-flex) *:not(.block-list-appender) {
		margin-bottom: 0;
	}

	// On layout flex the margin is made by block spacing.
	&.is-layout-flex > *:not(.block-list-appender) {
		margin-top: 0;
		margin-bottom: 0;
	}

	&.is-style-govbr-clickable-card {
		position: relative;
		box-shadow: var(--surface-shadow-sm);
		a:not(.wp-block-button__link) {
			text-decoration: none;
		}
		&:hover a {
			background-image: none;
		
			&::after {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				right: 0;
				border: 0;
				bottom: 0;
				background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(19,81,180,.16)),to(rgba(19,81,180,.16)));
				background-image: -webkit-linear-gradient(rgba(19,81,180,.16),rgba(19,81,180,.16));
				background-image: linear-gradient(rgba(19,81,180,.16),rgba(19,81,180,.16));
				background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(var(--interactive-rgb),var(--hover))),to(rgba(var(--interactive-rgb),var(--hover))));
				background-image: -webkit-linear-gradient(rgba(var(--interactive-rgb),var(--hover)),rgba(var(--interactive-rgb),var(--hover)));
				background-image: linear-gradient(rgba(var(--interactive-rgb),var(--hover)),rgba(var(--interactive-rgb),var(--hover)));
				inset-block: 0;
				inset-inline: 0;
				cursor: pointer;	
			}
		}
	}
}


.wp-block-group .wp-block-group.has-background > .block-editor-block-list__layout > [data-align="full"] {
	margin: 0;
	width: 100%;
}
