.wp-block-navigation {

	[data-block] {
		margin-top: revert;
		margin-bottom: revert;
	}

	.wp-block-navigation__container {
		background: var(--background, #fff);
	}

	.wp-block-navigation-link {

		.wp-block-navigation-link__label {
			font-size: var(--wp--preset--font-size--scale-up-02, 1.2em);
			font-weight: 500;
		}
	}

	.has-child {

		.wp-block-navigation__container {
			box-shadow: var(--surface-shadow-md);
		}
	}

	&:not(.has-text-color) {

		.wp-block-navigation-link {

			> a {

				&:hover,
				&:focus {
					color: var(--interactive);
				}
			}
		}

		.wp-block-navigation-link__content {
			color: currentColor;
		}
	}
}
