.wp-block-navigation {

	.wp-block-navigation-link {

		.wp-block-navigation-link__label {
			font-size: var(--wp--preset--font-size--scale-up-02, 1.2em);
			font-weight: normal;
		}
	}

	.wp-block-navigation-link__submenu-icon {
		padding: 0;
	}

	// Top level navigation container.
	> .wp-block-navigation__container {

		.has-child {

			.wp-block-navigation-link {
				display: inherit;
			}

			.wp-block-navigation__container {
				border: none;
				left: 0;
				min-width: max-content;
				opacity: 0;
				padding: 0;
				position: inherit;
				top: inherit;

				.wp-block-navigation-link__submenu-icon {
					display: none;
				}
			}
		}

		> .has-child {

			> .wp-block-navigation__container {
				background: var(--background, #fff);
				margin: 0;
				padding: 0;
				position: absolute;
				top: 100%;
				border: 1px solid var(--wp--preset--color--border-light, #ccc);

				&:before,
				&:after {
					content: "";
					display: block;
					position: absolute;
					width: 0;
					top: -10px;
					left: var(--wp--preset--spacing--scale-up-2, 16px);
					border-style: solid;
					border-color: var(--wp--preset--color--border-light, #ccc) transparent;
					border-width: 0 7px 10px 7px;
				}

				&:after {
					top: -9px;
					border-color: var(--background, #fff) transparent;
				}
			}
		}
	}

	&:not(.has-background) {

		.wp-block-navigation__container {
			background: var(--background, #fff);

			.wp-block-navigation__container {
				background: var(--background, #fff);
			}
		}
	}

	&:not(.has-text-color) {

		.wp-block-navigation-link {

			> a {

				&:hover,
				&:focus {
					color: var(--interactive);
				}
			}
		}

		.wp-block-navigation-link__content {
			color: currentColor;
		}
	}
}
