.wp-block-button {

	.wp-element-button,
	.wp-block-button__link {
		// Extend button style
		@include button-style();
	}

	/* Tertiary style */
	&.is-style-tertiary .wp-block-button__link,
	&.is-style-tertiary .wp-element-button {
		--interactive-rgb: var(--interactive-light-rgb);
		background-color: transparent;
		color: var(--interactive);
	}

	/* Magic style */
	&.is-style-magic .wp-block-button__link,
	&.is-style-magic .wp-element-button {
		--focus-offset: calc( (var(--magic-support-size) - var(--magic-size)) * 0.5 + 4px );
		--button-size: var(--magic-size);
		background-color: var(--interactive-alternative);
		color: var(--color-dark);
		font-size: var(--font-size-scale-up-02);
	}
	&.is-style-magic {
		--magic-size: var(--magic-medium);
		--magic-small: var(--spacing-scale-4xh);
		--magic-medium: var(--spacing-scale-5xh);
		--magic-large: var(--spacing-scale-6xh);
		--magic-support-size: var(--magic-support-medium);
		--magic-support-small: var(--spacing-scale-7x);
		--magic-support-medium: var(--spacing-scale-8x);
		--magic-support-large: var(--spacing-scale-9x);
		--magic-z-index: var(--z-index-layer-1);
		align-items: center;
		background-color: var(--gray-5);
		border-radius: 100em;
		box-shadow: var(--surface-shadow-md);
		display: inline-flex;
		height: var(--magic-support-size);
		padding: calc((var(--magic-support-size) - var(--magic-size)) * 0.5);
	}
}


.is-style-outline .wp-block-button__link[style*="radius"],
.wp-block-button__link[style*="radius"] {
	outline-offset: 2px;
}
