/**
 * Button
 */
.site .button,
button,
input[type="submit"],
input[type="reset"],
.wp-block-search .wp-block-search__button,
.wp-block-button .wp-block-button__link,
.wp-block-file a.wp-block-file__button,
.wp-element-button {
	
	// Extend button style
	@include button-style();

	/* Tertiary style */
	.is-style-tertiary > & {
		--interactive-rgb: var(--interactive-light-rgb);
		background-color: transparent;
		color: var(--interactive);
	}

	/* Magic style */
	.is-style-magic > & {
		--focus-offset: calc( (var(--magic-support-size) - var(--magic-size)) * 0.5 + 4px );
		--button-size: var(--magic-size);
		background-color: var(--interactive-alternative);
		color: var(--color-dark);
		font-size: var(--font-size-scale-up-02);
		font-weight: var(--font-weight-semi-bold);
	}
}

.wp-block-button.is-style-magic {
	--magic-size: var(--magic-medium);
	--magic-small: var(--spacing-scale-4xh);
	--magic-medium: var(--spacing-scale-5xh);
	--magic-large: var(--spacing-scale-6xh);
	--magic-support-size: var(--magic-support-medium);
	--magic-support-small: var(--spacing-scale-7x);
	--magic-support-medium: var(--spacing-scale-8x);
	--magic-support-large: var(--spacing-scale-9x);
	--magic-z-index: var(--z-index-layer-1);
	align-items: center;
	background-color: var(--gray-5);
	border-radius: 100em;
	box-shadow: var(--surface-shadow-md);
	display: inline-flex;
	height: var(--magic-support-size);
	padding: calc((var(--magic-support-size) - var(--magic-size)) * 0.5);
}