blockquote {
	position: relative;

	> * {
		margin-top: var(--wp--style--block-gap, 20px);
		margin-bottom: var(--wp--style--block-gap, 20px);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	p {
		font-size: var(--quote--font-size);
		font-style: var(--quote--font-style);
		font-weight: var(--quote--font-weight);
		line-height: var(--quote--line-height);
	}

	cite,
	footer {
		font-weight: normal;
		color: var(--global--color-primary);
		font-size: var(--wp--preset--font-size--scale-up-01, 1.2em);
	}

	&.alignleft,
	&.alignright {

		padding-left: inherit;

		p {
			font-size: var(--wp--preset--font-size--scale-up-02, 1.44em);
			max-width: inherit;
			width: inherit;
		}

		cite,
		footer {
			font-size: var(--wp--preset--font-size--scale-up-01, 1.2em);
		}
	}

	strong {
		font-weight: var(--quote--font-weight-strong);
	}

	&:before {
		content: "\201C";
		font-size: var(--quote--font-size);
		line-height: var(--quote--line-height);
		position: absolute;
		left: calc(-0.5 * var(--wp--preset--spacing--scale-up-2, 16px));
	}

	.wp-block-quote__citation,
	cite,
	footer {
		color: var(--global--color-primary);
		font-size: var(--wp--preset--font-size--scale-up-01, 1.2em);
		font-style: var(--quote--font-style-cite);
	}

	@include media(mobile-only) {
		padding-left: calc(0.5 * var(--wp--preset--spacing--scale-up-2, 16px));

		&:before {
			left: 0;
		}
	}
}
