input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: var(--border-width, 1px) solid var(--border-color-alternative, #888);
	border-radius: var(--surface-rounder-sm, 4px);
	color: var(--color-light, #333);
	line-height: var(--font-line-height-medium, 1.45);
	padding: 0 var(--spacing-scale-2x);
	// Gives a little more space for the outline offset.
	margin: 0 2px;
	max-width: 100%;

	&:focus {
		border-color: var(--focus) !important;
		box-shadow: 0 0 0 var(--surface-width-md) var(--focus);
		outline: none;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: var(--disabled);
	}

	.is-dark-theme & {
		background: var(--wp--preset--color--surface-light-alternative);
	}
}

// Reset the negative offset from normalize to make the thicker "border" work on focus.
input[type="search"] {

	&:focus {
		outline-offset: -7px;

		.is-dark-theme & {
			outline-color: var(--background, #fff);
		}
	}
}

input[type="color"] {
	padding: calc(var(--spacing-scale-2x) / 2);
	height: calc(4 * var(--spacing-scale-2x));
}

input[type="email"],
input[type="url"] {

	/*rtl:ignore*/
	direction: ltr;
}

select {
	border: var(--border-width, 1px) solid var(--border-color-alternative, #888);
	color: var(--color-light, #333);
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	line-height: var(--font-line-height-medium, 1.45);
	padding: 0 calc(2 * var(--spacing-scale-2x)) 0 var(--spacing-scale-2x);
	background: var(--background, #fff) url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='%2328303d'><polygon points='0,0 10,0 5,5'/></svg>") no-repeat; // stylelint-disable-line function-url-quotes
	background-position: right var(--spacing-scale-2x) top 60%;

	&:focus {
		border-color: var(--focus) !important;
		box-shadow: 0 0 0 var(--surface-width-md) var(--focus);
		outline: none;
	}

	.is-dark-theme & {
		background: var(--wp--preset--color--surface-light) url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='%2328303d'><polygon points='0,0 10,0 5,5'/></svg>") no-repeat; // stylelint-disable-line function-url-quotes
		background-position: right var(--spacing-scale-2x) top 60%;
	}
}

textarea {
	width: 100%;
	padding: var(--spacing-scale-baseh);
}

label {
	font-size: var(--wp--preset--font-size--scale-up-02, 1.44em);
	font-weight: var(--font-weight-semi-bold, 600);
	margin-bottom: calc(var(--wp--style--block-gap, 20px) / 3);
}

/**
https://css-tricks.com/custom-styling-form-inputs-with-modern-css-features/
https://codepen.io/aaroniker/pen/ZEYoxEY by Aaron Iker.
License: MIT.
*/
@supports (-webkit-appearance: none) or (-moz-appearance: none) {

	input[type="checkbox"],
	input[type="radio"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		position: relative;
		width: 25px;
		height: 25px;
		border: var(--border-width, 1px) solid var(--border-color-alternative, #888);
		background: var(--background-light, #fff);

		&:disabled {
			cursor: not-allowed;
			opacity: var(--disabled);
		}

		.is-dark-theme & {
			background: var(--wp--preset--color--surface-light-alternative);
		}
	}

	input[type="checkbox"] {

		&:focus {
			border-color: var(--focus) !important;
			box-shadow: 0 0 0 var(--surface-width-md) var(--focus);
			outline: none;
		}

		&:after {
			content: "";
			opacity: 0;
			display: block;
			left: 5px;
			top: 2px;
			position: absolute;
			width: 7px;
			height: 13px;
			border: 3px solid var(--color-light, #333);
			border-top: 0;
			border-left: 0;
			transform: rotate(30deg);
		}

		&:checked {
			color: var(--color-light, #333);

			&:after {
				opacity: 1;
			}
		}
	}

	input[type="radio"] {
		border-radius: 50%;

		&:focus {
			border-color: var(--focus) !important;
			box-shadow: 0 0 0 var(--surface-width-md) var(--focus);
			outline: none;
		}

		&:after {
			content: "";
			opacity: 0;
			display: block;
			left: 3px;
			top: 3px;
			position: absolute;
			width: 11px;
			height: 11px;
			border-radius: 50%;
			background: var(--color-light, #333);
		}

		&:checked {
			border: 4px solid var(--border-color-alternative, #888);

			&:after {
				opacity: 1;
			}

			// Focus style for checked radio buttons.
			&:focus {
				border-color: var(--focus) !important;
				box-shadow: 0 0 0 var(--surface-width-md) var(--focus);
				outline: none;
			}
		}
	}
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	display: inline-block;
	padding-left: 10px;
	font-size: var(--wp--preset--font-size--scale-up-01, 1.2em);
	vertical-align: top;
}

/**
 * https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*/
@supports (-webkit-appearance: none) or (-moz-appearance: none) {

	input[type="range"] {
		--step-line: 1px;
		-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
		width: 100%; /* Specific width is required for Firefox. */
		height: var(--step-line);
		background: var(--interactive);
		border-radius: var(--step-line);
		outline-offset: 10px;

		&:disabled {
			cursor: not-allowed;
			opacity: var(--disabled);
		}
	}

	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		border: var(--step-line) solid var(--interactive);
		height: 1em;
		width: 1em;
		border-radius: 50%;
		background: var(--background-light, #fff);
		cursor: pointer;
	}

	input[type="range"]::-moz-range-thumb {
		border: var(--step-line) solid var(--interactive);
		height: 1em;
		width: 1em;
		border-radius: 50%;
		background: var(--background-light, #fff);
		cursor: pointer;
		box-sizing: border-box;
	}
}

input[type="range"]::-ms-track {
	width: 100%;
	height: var(--step-line);
	border-radius: var(--step-line);
	border-width: 19px 0;
	border-color: var(--background-light, #fff);
	background: transparent;
	color: transparent;
	cursor: pointer;
}

input[type="range"]::-ms-fill-upper {
	background: var(--interactive);
	border-radius: var(--step-line);
}

input[type="range"]::-ms-fill-lower {
	background: var(--interactive);
	border-radius: var(--step-line);
}

input[type="range"]::-ms-thumb {
	border: var(--step-line) solid var(--interactive);
	height: 1em;
	width: 1em;
	border-radius: 50%;
	background: var(--background-light, #fff);
	cursor: pointer;
}

fieldset {
	display: grid;
	border-color: var(--wp--preset--color--reading-light, #333);
	padding: var(--wp--preset--spacing--scale-up-2, 16px);

	legend {
		font-size: var(--wp--preset--font-size--scale-up-03, 1.728em);
	}

	input {

		&[type="submit"] {
			max-width: max-content;
		}

		&:not([type="submit"]) {
			margin-bottom: var(--wp--style--block-gap, 20px);
		}

		&[type="radio"],
		&[type="checkbox"] {
			margin-bottom: 0;
		}

		&[type="radio"] + label,
		&[type="checkbox"] + label {
			font-size: var(--wp--preset--font-size--scale-up-02, 1.44em);
			padding-left: 0;
			margin-bottom: var(--wp--style--block-gap, 20px);
		}
	}
}

::-moz-placeholder { // Firefox 19+
	opacity: 1;
}

.post-password-message {
	font-size: var(--wp--preset--font-size--scale-up-03, 1.728em);
}

.post-password-form {
	display: flex;
	flex-wrap: wrap;

	&__label {
		width: 100%;
		margin-bottom: 0;
	}

	input[type="password"] {
		flex-grow: 1;
		margin-top: calc(var(--wp--style--block-gap, 20px) / 3);
		margin-right: calc(0.66 * var(--wp--preset--spacing--scale-up-2, 16px));
	}

	&__submit {
		margin-top: calc(var(--wp--style--block-gap, 20px) / 3);
		@include media(tablet) {
			margin-left: calc(0.4 * var(--wp--preset--spacing--scale-up-2, 16px));
		}
	}
}
