a {
	cursor: pointer;
	text-decoration-skip-ink: all;
}

a:hover {
	text-decoration-skip-ink: none;
}

.site a:focus:not(.wp-block-button__link):not(.wp-block-file__button) {

	// Change text color when the body background is dark.
	.is-contrast-mode & {
		
		.meta-nav {
			color: var(--wp--style--color--link, var(--background-light, #fff));
		}
	}

	&.skip-link {
		
		/* Only visible in Windows High Contrast mode */
		outline: 2px solid transparent;
		outline-offset: -2px;

		&:focus {
			color: #21759b;
			background-color: #f1f1f1;
		}
	}

	&.custom-logo-link {
		background: none;
	}

	img {
		outline: 2px solid var(--interactive);
	}
}
