.page-title {
	font-size: var(--wp--preset--font-size--scale-up-06, 2.986em);
}

h1.page-title,
h2.page-title {
	font-weight: var(--font-weight-light);
}

.page-header {
	padding-bottom: calc(2 * var(--wp--style--block-gap, 20px));
}

.archive,
.search,
.blog {

	.content-area {

		.format-aside,
		.format-status,
		.format-link {

			.entry-content {
				font-size: var(--wp--preset--font-size--scale-up-03, 1.728em);
			}
		}

	}

	.format-image,
	.format-gallery,
	.format-video {

		.entry-content {
			margin-top: calc(2 * var(--wp--style--block-gap, 20px));
		}
	}

	.entry-footer {

		.cat-links,
		.tags-links {
			display: block;
		}
	}

	&.logged-in {

		.entry-footer {

			.posted-on {
				margin-right: calc(0.5 * var(--wp--style--block-gap, 20px));
			}
		}
	}
}

.archive-description {
	margin-top: var(--wp--style--block-gap, 20px);
	font-size: var(--wp--preset--font-size--scale-up-05, 2.488em);
	line-height: var(--font-line-height-low, 1.15);
}
