.archive,
.search,
.blog {

	article {
		margin-top: calc(1.5 * var(--wp--style--block-gap, 20px));
		margin-bottom: calc(1.5 * var(--wp--style--block-gap, 20px));
	}

	.entry-header {

		.entry-title {
			padding-bottom: 0px;
		}
	}

	.content-area {

		.format-aside,
		.format-status,
		.format-link {

			.entry-content {
				font-size: var(--wp--preset--font-size--scale-up-03, 1.728em);
			}
		}

	}

	.format-image,
	.format-gallery,
	.format-video {

		.entry-content {
			margin-top: calc(2 * var(--wp--style--block-gap, 20px));
		}
	}

	.entry-footer {

		.cat-links,
		.tags-links {
			display: block;

			a {
				text-decoration: underline;
			}
		}

		.entry-meta-footer {
			margin-top: 0;
			border-top: none;
			border-bottom: var(--divider-size, 1px) solid var(--border-color, #ccc);
			padding-top: 0;
			padding-bottom: calc(0.8 * var(--wp--style--block-gap, 20px));
		}
	}

	&.logged-in {

		.entry-footer {

			.posted-on {
				margin-right: calc(0.5 * var(--wp--style--block-gap, 20px));
			}
		}
	}

	.post-thumbnail {
		margin-top: 0px;
		margin-right: 0px;
		margin-left: var(--wp--style--block-gap, 20px);
		max-width: 128px;
		float: right;

		img {
			margin-top: 0;
		}
	}
	.post-thumbnail+.entry-title {
		clear: none;
	}
}

.archive-description {
	margin-top: var(--wp--style--block-gap, 20px);
	font-size: var(--wp--preset--font-size--scale-up-05, 2.488em);
	line-height: var(--font-line-height-low, 1.15);
}
