body {
	font-weight: normal;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

/* Garante que o corpo textual dos posts tenha um tamanho de fonte maior no desktop */
.wp-block-post-content {
	font-size: var(--wp--preset--font-size--scale-up-01, 1.2em);
}

button,
a {
	cursor: pointer;
}
