/* Site title looks a bit different from its actual h1 and p elements */
.site-title {
    all: unset;

    a {
        text-decoration: none;
    }
}

/* Header offcanvas menu should respect presense of the wordpress admin bar */
.br-menu .menu-panel {
    top: var(--global--admin-bar--height, 0px);
    height: calc(100vh - var(--global--admin-bar--height, 0px));
}

/* Also offsets skip links */
.br-skiplink {
    top: var(--global--admin-bar--height, 0px);
}

/* Login menu with avatar is a bit smaller */
#avatar-dropdown-trigger {
    padding: 5px;

    .br-avatar .content {
        font-size: var(--font-size-scale-up-01);
        height: 32px;
        width: 32px;
        line-height: 32px;
    }
}
#avatar-menu {
    z-index: 9;
}
