/* Next/Previous navigation */

// All navigation
.navigation {
	color: var(--wp--preset--color--reading-light, #333);

	a {
		color: var(--wp--preset--color--reading-light, #333);
		text-decoration: none;

		&:hover {
			color: var(--wp--preset--color--reading-light, #333);
			text-decoration: underline;
			text-decoration-style: dotted;
		}

		&:focus {
			color: var(--wp--preset--color--reading-light, #333);
		}

		&:active {
			color: var(--wp--preset--color--reading-light, #333);
		}
	}

	.nav-links {

		> * {
			min-width: 44px;
			min-height: 44px;
		}

		.nav-next a,
		.nav-previous a {
			display: flex;
			flex-direction: column;
		}

		.dots {
			text-align: center;
		}

		@include media(tablet) {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			.nav-next,
			.nav-previous {
				flex: 0 1 auto;
				margin-bottom: inherit;
				margin-top: inherit;
				max-width: calc(50% - (0.5 * var(--wp--style--block-gap, 20px)));
			}

			.nav-next {
				text-align: right;
			}
		}
	}

	.svg-icon {
		display: inline-block;
		fill: currentColor;
		vertical-align: middle;
		position: relative;
	}

	.nav-previous .svg-icon,
	.prev .svg-icon {
		top: -2px;
		margin-right: calc(0.25 * var(--wp--style--block-gap, 20px));
	}

	.nav-next .svg-icon,
	.next .svg-icon {
		top: -1px;
		margin-left: calc(0.25 * var(--wp--style--block-gap, 20px));
	}
}

// Singular navigation
.post-navigation {

	margin: var(--wp--style--block-gap, 20px) auto;

	@include media(desktop) {
		margin: var(--wp--style--block-gap, 20px) auto;
	}

	@extend %responsive-aligndefault-width;

	.meta-nav {
		line-height: var(--font-line-height-medium, 1.45);
		color: var(--wp--preset--color--reading-light, #333);
	}

	.post-title {
		display: inline-block;
		font-size: var(--wp--preset--font-size--scale-up-03, 1.728em);
		font-weight: 600;
		line-height: var(--font-line-height-low, 1.15);
		@include media(desktop) {
			margin: 5px calc(24px + (0.25 * var(--wp--style--block-gap, 20px))) 0;
		}
	}

	.nav-links {
		@include media(mobile) {
			justify-content: space-between;
		}
	}

	.nav-next,
	.nav-previous {
		margin-top: var(--wp--style--block-gap, 20px);
		margin-bottom: var(--wp--style--block-gap, 20px);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

// Index/archive navigation
.pagination,
.comments-pagination {

	border-top: 3px solid var(--wp--preset--color--border-dark, #888);
	padding-top: var(--wp--style--block-gap, 20px);
	margin: var(--wp--style--block-gap, 20px) auto;

	@include media(desktop) {
		margin: var(--wp--style--block-gap, 20px) auto;
	}

	@extend %responsive-aligndefault-width;

	// Resets the top margin added to the .nav-links items below.
	.nav-links {
		margin-top: calc(-1 * var(--wp--style--block-gap, 20px));

		a:hover {
			color: var(--wp--preset--color--reading-light, #333);
		}

		.is-dark-theme & {

			a:active,
			a:hover:active,
			a:hover:focus {
				color: var(--background, #fff);
			}
		}

		.has-background-white & {

			a:active,
			a:hover:active,
			a:hover:focus {
				color: var(--background, #fff);
			}
		}
	}

	.nav-links > * {
		color: var(--pagination--color-text);
		font-size: var(--wp--preset--font-size--scale-up-03, 1.728em);
		font-weight: normal;
		margin-top: var(--wp--style--block-gap, 20px);
		margin-left: calc(0.66 * var(--wp--style--block-gap, 20px));
		margin-right: calc(0.66 * var(--wp--style--block-gap, 20px));

		&.current {
			text-decoration: underline;
		}

		&:not(.dots):not(.current):hover {
			text-decoration-style: dotted;
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&.next {
			margin-left: auto;
		}

		&.prev {
			margin-right: auto;
		}
	}

	@include media(desktop-only) {

		.nav-links {
			display: flex;
			flex-wrap: wrap;
		}

		.page-numbers {
			display: none;

			&.prev,
			&.next {
				display: inline-block;
				flex: 0 1 auto;
			}
		}
	}

	@include media(mobile-only) {

		.nav-short {
			display: none;
		}
	}
}

// Comments pagination
.comments-pagination {
	padding-top: calc(0.66 * var(--wp--style--block-gap, 20px));
	margin: calc(3 * var(--wp--style--block-gap, 20px)) auto;

	@include media(desktop) {
		margin: calc(3 * var(--wp--style--block-gap, 20px)) auto calc(4 * var(--wp--style--block-gap, 20px)) auto;
	}

	.nav-links > * {
		font-size: var(--wp--preset--font-size--scale-up-02, 1.2em);
	}
}
