.singular .entry-header {
	margin-bottom: var(--wp--style--block-gap, 20px);
}

.home .entry-header {
	padding-bottom: 0;
	margin-bottom: 0;
}

.singular .has-post-thumbnail .entry-header {
	padding-bottom: calc(1.3 * var(--wp--style--block-gap, 20px));
	margin-bottom: 0;
}
