.widget-area {
	@extend %responsive-aligndefault-width;
	margin-top: calc(2 * var(--wp--style--block-gap, 20px));
	padding-bottom: calc(var(--wp--style--block-gap, 20px) / 3);
	color: var(--wp--preset--color--reading-light, #333);
	font-size: var(--wp--preset--font-size--scale-up-02, 1.44em);

	@include media(laptop) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: calc(2 * var(--wp--preset--spacing--scale-up-2, 16px));
	}

	@include media(wide) {
		grid-template-columns: repeat(3, 1fr);
	}

	@include media(mobile-only) {
		margin-top: calc(2 * var(--wp--style--block-gap, 20px));
	}

	.wp-block-social-links {

		&.alignright {
			margin-top: var(--wp--style--block-gap, 20px);
			justify-content: flex-end;
		}

		&.alignleft {
			margin-top: var(--wp--style--block-gap, 20px);
		}
	}

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.widget {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: var(--font-weight-bold);
		line-height: var(--font-line-height-medium);
	}

	h1 {
		font-size: var(--wp--preset--font-size--scale-up-02, 1.2em);
	}

	h2 {
		font-size: var(--wp--preset--font-size--scale-up-02, 1.44em);
	}

	h3 {
		font-size: var(--wp--preset--font-size--scale-up-01, 1.2em);
	}

	h4 {
		font-size: var(--wp--preset--font-size--scale-up-01, 1.2em);
	}

	h5 {
		font-size: var(--wp--preset--font-size--scale-up-01, 1.2em);
	}

	h6 {
		font-size: var(--wp--preset--font-size--scale-up-01, 1.2em);
	}

	ul {
		list-style-type: none;
		padding: 0;



		&.sub-menu,
		&.children {
			margin-left: var(var(--wp--preset--spacing--scale-up-2, 16px));
		}

		.sub-menu-toggle {
			display: none;
		}
	}

	.wp-block-group > .wp-block-heading + *:nth-child(2) {
		margin-top: 0px;
	}
}

// Search widget styles
.search-form {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	max-width: var(--responsive--aligndefault-width);

	> label {
		width: 100%;
		margin-bottom: 0;
		font-weight: var(--font-weight-semi-bold, 600);
	}

	.search-field {
		flex-grow: 1;
		max-width: inherit;
		margin-top: calc(var(--wp--style--block-gap, 20px) / 3);
		margin-right: calc(0.66 * var(--wp--preset--spacing--scale-up-2, 16px));
	}

	.search-submit {
		margin-top: calc(var(--wp--style--block-gap, 20px) / 3);
		margin-left: 10px;
	}
}

.widget_search > .search-form {

	.search-field {
		margin-right: -1px;
		-webkit-appearance: none;
		margin-bottom: calc(0.5 * var(--wp--style--block-gap, 20px));
	}

	.search-submit {
		margin-left: 0;
		margin-bottom: calc(0.5 * var(--wp--style--block-gap, 20px));
	}
}

.widget_rss a.rsswidget .rss-widget-icon {
	display: none;
}
