.wp-block-separator,
hr {
	border-bottom: var(--divider-size, 1px) solid var(--border-color, #ccc);
	clear: both;
	opacity: 1;

	&[style*="text-align:right"],
	&[style*="text-align: right"] {
		border-right-color: var(--border-color, #ccc);
	}

	[data-align="full"] > &,
	[data-align="wide"] > & {
		max-width: inherit;
	}

	&.is-style-dots {
		border-bottom: none;

		&.has-background,
		&.has-text-color {
			background-color: transparent !important;

			&:before {
				color: currentColor !important;
			}
		}

		&:before {
			color: var(--border-color, #ccc);
		}
	}

	.has-background &,
	[class*="background-color"] &,
	[style*="background-color"] &,
	.wp-block-cover[style*="background-image"] & {
		border-color: currentColor;
	}
}
