hr {
	border-style: none;
	border-bottom: var(--divider-size, 1px) solid var(--border-color, #ccc);
	clear: both;
	margin-left: auto;
	margin-right: auto;

	&.wp-block-separator {
		border-bottom: var(--divider-size, 1px) solid var(--border-color, #ccc);
		opacity: 1;

		/**
		 * Block Options
		 */

		&.is-style-dots {

			&.has-background,
			&.has-text-color {
				background-color: transparent !important;

				&:before {
					color: currentColor !important;
				}
			}

			&:before {
				color: var(--border-color, #ccc);
				font-size: var(--wp--preset--font-size--scale-up-05, 2.488em);
				padding-left: var(--wp--preset--font-size--scale-up-02, 1.44em);
			}
		}

		.has-background &,
		[class*="background-color"] &,
		[style*="background-color"] &,
		.wp-block-cover[style*="background-image"] & {
			border-color: currentColor;
		}
	}
}
