.wp-block-latest-comments {
	padding-left: 0;

	.wp-block-latest-comments__comment {
		font-size: var(--wp--preset--font-size--scale-up-02, 1.44em);
		line-height: var(--font-line-height-medium, 1.45);

		/* Vertical margins logic */
		margin-top: var(--wp--style--block-gap, 20px);
		margin-bottom: var(--wp--style--block-gap, 20px);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.wp-block-latest-comments__comment-date {
		color: var(--wp--preset--color--reading-light, #333);
		font-size: var(--wp--preset--font-size--scale-up-02, 1.44em);
	}

	.wp-block-latest-comments__comment-excerpt p {
		font-size: var(--wp--preset--font-size--scale-up-02, 1.44em);
		line-height: var(--font-line-height-medium, 1.45);
		margin: 0;
	}
}
