.wp-block-code {
	border-color: var(--wp--preset--color--border-dark, #888);
	border-radius: 0;
	border-style: solid;
	border-width: 0.1rem;
	padding: var(--wp--style--block-gap, 20px);

	code {
		color: var(--wp--preset--color--reading-light, #333);
		white-space: pre;
		overflow-x: auto;
		display: block;
	}
}
