/* OS dark theme preference */
@media only screen {
  .is-dark-theme.is-dark-theme {
    --background: #000;
    --color: var(--color-dark);
    --color-rgb: var(--color-dark-rgb);
    --text-color: var(--color);
    --interactive: var(--interactive-dark);
    --interactive-rgb: var(--interactive-dark-rgb);
    --visited: var(--visited-dark);
    --hover: var(--hover-dark);
    --pressed: var(--pressed-dark);
    --focus-color: var(--focus-color-dark);
    --focus: var(--focus-color);
  }
  .is-dark-theme img {
    filter: brightness(0.85) contrast(1.1);
  }
  .is-dark-theme body {
    background-color: var(--background, #fff);
  }
}
