.wp-block-search {

	.wp-block-search__label {
		font-size: var(--wp--preset--font-size--scale-up-02, 1.44em);
		font-weight: var(--font-weight-semi-bold, 600);
		margin-bottom: calc(var(--wp--style--block-gap, 20px) / 3);
	}

	&.wp-block-search__button-inside .wp-block-search__inside-wrapper,
	.wp-block-search__input {
		border: var(--border-width, 1px) solid var(--border-color-alternative, #888);
		border-radius: var(--surface-rounder-sm, 4px);
		font-size: var(--wp--preset--font-size--scale-up-02, 1.44em);
		line-height: var(--font-line-height-medium, 1.45);
		max-width: inherit;
		margin-right: -1px;
		padding: 0 var(--spacing-scale-2x);

		.is-dark-theme & {
			background: var(--wp--preset--color--surface-light-alternative);
		}

		.has-background & {
			border-color: var(--local--color-primary, var(--wp--preset--color--reading-light, #333)) !important;
		}
	}

	.wp-block-search__button.wp-block-search__button {
		@include button-style();
		--interactive-rgb: var(--interactive-light-rgb);
		background-color: transparent;
		color: var(--interactive);
		box-shadow: none;
		margin-left: 0;

		&.has-icon {
			padding: 4px;
			display: inherit;

			svg {
				width: 32px;
				height: 32px;
			}
		}

		&:hover,
		&:active {

			.has-background & {
				background-color: var(--local--color-background, var(--background, #fff)) !important;
				color: var(--local--color-primary, var(--wp--preset--color--reading-light, #333)) !important;
			}

			.has-text-color & {
				color: var(--local--color-primary, var(--wp--preset--color--reading-light, #333)) !important;
			}
		}

		// Remove :focus styles in the editor
		&:focus {
			outline-offset: inherit;
			outline: inherit;
		}
	}

	&.wp-block-search__button-inside {

		.wp-block-search__inside-wrapper {
			padding: var(--border-width, 1px);
		}

		.wp-block-search__input {
			border: none;
		}

		&.wp-block-search__text-button,
		&.wp-block-search__icon-button {

			.wp-block-search__button {
				// Search button always needs black contrast against white form background
				&:hover {
					color: var(--interactive);
				}

				.is-dark-theme & {
					color: var(--wp--preset--color--reading-light, #333);

					&:hover {
						background-color: var(--wp--preset--color--reading-light, #333);
						color: var(--background, #fff);
					}
				}
			}
		}

		&.wp-block-search__text-button .wp-block-search__button {
			// Match the text button size with the icon button.
			padding: var(--wp--preset--spacing--scale-up-2, 16px) var(--wp--preset--spacing--scale-up-4, 36px);
		}
	}
}

.wp-block[data-align="center"] > * {
	text-align: center;
}

.wp-block[data-align="center"] {

	.wp-block-search__button-only {

		.wp-block-search__inside-wrapper {
			justify-content: center;
		}
	}
}
