.wp-block-video {

	figcaption {
		color: var(--global--color-primary);
		font-size: var(--wp--preset--font-size--scale-up-01, 1.2em);
		margin-top: calc(0.5 * var(--wp--style--block-gap, 20px));
		margin-bottom: var(--wp--style--block-gap, 20px);
		text-align: center;
	}
}

* > figure > video {
	max-width: unset;
	width: 100%;
	vertical-align: middle;
}
