.wp-block-gallery {

	margin: 0 auto;

	.blocks-gallery-image,
	.blocks-gallery-item {

		// On mobile and responsive viewports, we allow only 1 or 2 columns at the most.
		width: calc((100% - var(--wp--style--block-gap, 20px)) / 2);

		figcaption {
			margin: 0;
			font-size: var(--wp--preset--font-size--scale-up-01, 1.2em);

			a {
				&:focus {
					background-color: transparent;
					outline: 2px solid var(--interactive);
					text-decoration: none;
				}
			}
		}

		a:focus img {
			outline-offset: 2px;
		}

	}
}
