.wp-block-columns {

	&:not(.alignfull) {
		clear: both;
	}

	.wp-block-column {

		> * {

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.alignfull {

		.wp-block-column {

			p:not(.has-background),
			h1:not(.has-background),
			h2:not(.has-background),
			h3:not(.has-background),
			h4:not(.has-background),
			h5:not(.has-background),
			h6:not(.has-background) {
				padding-left: var(--wp--style--block-gap, 20px);
				padding-right: var(--wp--style--block-gap, 20px);
			}
		}
	}
}
