/* Styles for the Admin Cookie Settings page */
.settings_page_cookies-settings {

    .form-table th {
        width: 300px;
    }

    [class^="cookie_groups_"] > th,
    [class^="note_list_"] > th,
    [class^="links_"] > th {
        padding-left: 2rem;
        border-left: 1px solid #dcdcde;
    }
    [class^="cookie_groups_0"] > th,
    [class^="cookie_groups_1"] > th,
    [class^="cookie_groups_2"] > th,
    [class^="cookie_groups_3"] > th,
    [class^="cookie_groups_4"] > th,
    [class^="cookie_groups_5"] > th {
        padding-left: 4rem;
    }
}