@import "../../node_modules/@govbr-ds/core/src/partial/scss/mixins";

/* OS dark theme preference */
@media only screen {

	.is-dark-theme.is-dark-theme {
		--background: #000;
		@include dark-mode;
	}

	.is-dark-theme img {
		filter: brightness(.85) contrast(1.1);
	}

	.is-dark-theme body {
		background-color: var(--background, #fff);
	}

	#dark-mode-toggler {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: var(--font-size-scale-up-01);
		padding: 0.5em;
		min-height: 44px; // A11y requirement for minimum clickable area.
		min-width: max-content;
		border: 2px solid currentColor;
		box-shadow: none;
		background: var(--background);
		color: var(--color);
		z-index: 9998;

		.no-js & {
			display: none;
		}

		&.fixed-bottom {
			position: fixed;
			bottom: 5px; // The bottom property has transition (see below).
			right: 5px;

			&.hide:not(:focus) {
				bottom: -80px;
			}
			@media (prefers-reduced-motion: no-preference) {
				transition: bottom 0.5s;
			}
		}

		.primary-navigation-open & {
			display: none;
		}
	}
}
