table,
.wp-block-table {

	@extend .br-table;

	&.is-style-stripes {
		border-color: var(--wp--preset--color--border-light);

		th,
		td {
			border-width: 0;
		}

		tbody tr:nth-child(odd) {
			background-color: var(--wp--preset--color--surface-light-alternative);
		}

		.has-background tbody tr:nth-child(odd) {
			background-color: var(--wp--preset--color--surface-light-alternative);
		}
	}
}

table.wp-calendar-table {

	td,
	th {
		background: transparent;
		border: 0;
		text-align: center;
		line-height: 2;
		vertical-align: middle;
	}

	th {
		font-weight: bold;
	}

	thead,
	tbody {
		color: currentColor;
		border: 1px solid;
	}

	caption {
		font-weight: bold;
		text-align: left;
		margin-bottom: var(--wp--style--block-gap, 20px);
		color: currentColor;
	}
}

.wp-calendar-nav {
	text-align: left;
	margin-top: calc(var(--wp--style--block-gap, 20px) / 2);

	svg {
		height: 1em;
		vertical-align: middle;

		path {
			fill: currentColor;
		}
	}

	.wp-calendar-nav-next {
		float: right;
	}
}
