// Gutenberg Font-size utility classes
:root {

	.is-extra-small-text,
	.has-extra-small-font-size {
		font-size: var(--wp--preset--font-size--extra-small, 16px);
	}

	.is-small-text,
	.has-small-font-size {
		font-size: var(--wp--preset--font-size--small, 18px);
	}

	.is-regular-text,
	.has-regular-font-size,
	.is-normal-font-size,
	.has-normal-font-size,
	.has-medium-font-size {
		font-size: var(--global--font-size-base);
	}

	.is-large-text,
	.has-large-font-size {
		font-size: var(--wp--preset--font-size--large, 24px);
		line-height: var(--wp--custom--line-height--heading, 1.3);
	}

	.is-larger-text,
	.has-larger-font-size,
	.is-extra-large-text,
	.has-extra-large-font-size {
		font-size: var(--wp--preset--font-size--large, 36px);
		line-height: var(--wp--custom--line-height--heading, 1.3);
	}

	.is-huge-text,
	.has-huge-font-size {
		font-size: var(--wp--preset--font-size--huge, 64px);
		line-height: var(--wp--custom--line-height--heading, 1.3);

		// This size is meant to mimic the page titles, so the font weight is reduced to match.
		font-weight: var(--wp--custom--font-weight--page-title);
	}

	.is-gigantic-text,
	.has-gigantic-font-size {
		font-size: var(--wp--preset--font-size--gigantic, 80px);
		line-height: var(--wp--custom--line-height--heading, 1.3);

		// This size is meant to mimic the page titles, so the font weight is reduced to match.
		font-weight: var(--wp--custom--font-weight--page-title);
	}
}
