// Gutenberg Font-size utility classes
:root {

	.is-extra-small-text,
	.has-extra-small-font-size {
		font-size: var(--wp--preset--font-size--scale-up-01, 1.2em);
	}

	.is-small-text,
	.has-small-font-size {
		font-size: var(--wp--preset--font-size--scale-up-02, 1.44em);
	}

	.is-regular-text,
	.has-regular-font-size,
	.is-normal-font-size,
	.has-normal-font-size,
	.has-medium-font-size {
		font-size: var(--wp--preset--font-size--scale-base, 1em);
	}

	.is-large-text,
	.has-large-font-size {
		font-size: var(--wp--preset--font-size--scale-up-03, 1.728em);
		line-height: var(--font-line-height-low, 1.15);
	}

	.is-larger-text,
	.has-larger-font-size,
	.is-extra-large-text,
	.has-extra-large-font-size {
		font-size: var(--wp--preset--font-size--scale-up-05, 2.488em);
		line-height: var(--font-line-height-low, 1.15);
	}

	.is-huge-text,
	.has-huge-font-size {
		font-size: var(--wp--preset--font-size--scale-up-06, 2.986em);
		line-height: var(--font-line-height-low, 1.15);

		// This size is meant to mimic the page titles, so the font weight is reduced to match.
		font-weight: var(--font-weight-light);
	}

	.is-gigantic-text,
	.has-gigantic-font-size {
		font-size: var(--wp--preset--font-size--gigantic, 80px);
		line-height: var(--font-line-height-low, 1.15);

		// This size is meant to mimic the page titles, so the font weight is reduced to match.
		font-weight: var(--font-weight-light);
	}
}
