ul,
ol {
	padding-left: var(--wp--preset--spacing--scale-up-5, 40px);

	// Utility classes
	&.aligncenter {
		list-style-position: inside;
		padding: 0;
		text-align: center;
	}

	&.alignright {
		list-style-position: inside;
		padding: 0;
		text-align: right;
	}
}

li {

	> ul,
	> ol {
		margin: 0;
	}
}

dt {
	font-weight: bold;
}

/* If govbr-list block style is added, we inherit it from the ds-gov scss */
ul.is-style-govbr-list,
ol.is-style-govbr-list {
	@extend .br-list;
	padding-left: 0;

	&>li {
		@extend .br-item;
		margin-top: 0px;
		margin-bottom: 0px;
		
		&>a:hover {
			background: transparent;
		} 
	}
}
/* Not always the block root is a ul... this is the case for the navigation component */
:not(ul):not(ol).is-style-govbr-list {
	.wp-block-navigation__container {
		@extend .br-list;
		padding-left: 0;

		&>.wp-block-navigation-item {
			@extend .br-item;

			&>a:hover {
				background: transparent;
			} 
		}
	}
}