ul,
ol {
	margin: 0;
	padding-left: calc(2 * var(--wp--preset--spacing--scale-up-2, 16px));

	// Utility classes
	&.aligncenter {
		list-style-position: inside;
		padding: 0;
	}

	&.alignright {
		list-style-position: inside;
		text-align: right;
		padding: 0;
	}
}

ul {
	list-style-type: disc;

	ul {
		list-style-type: circle;
	}
}

ol {
	list-style-type: decimal;

	ul {
		list-style-type: circle;
	}
}

dt {
	font-weight: bold;
}

dd {
	margin: 0;
	padding-left: calc(2 * var(--wp--preset--spacing--scale-up-2, 16px));
}

/* If govbr-list block style is added, we inherit it from the ds-gov scss */
ul.is-style-govbr-list,
ol.is-style-govbr-list {
	@extend .br-list;
	padding-left: 0;

	&>li {
		@extend .br-item;
		
		a {
			text-decoration: none;
			&:hover {
				background: transparent;
			}
		} 
	}
}
/* Not always the block root is a ul... this is the case for the navigation component */
:not(ul):not(ol).is-style-govbr-list {
	ul,
	ol {
		@extend .br-list;
		padding-left: 0;

		&>li {
			@extend .br-item;

			a {
				text-decoration: none;
				&:hover {
					background: transparent;
				}
			} 
		}
	}
}
