/* Variables */
:root {

	/* Font Size is set here as 14px to be reference for 1em */
	font-size: 14px;

	/* Admin-bar height */
	--global--admin-bar--height: 0;
}

.admin-bar {
	--global--admin-bar--height: 32px;

	@media only screen and (max-width: 782px) {
		--global--admin-bar--height: 46px;
	}
}
