.wp-block-cover,
.wp-block-cover-image {

	&:not(.alignwide):not(.alignfull) {
		clear: both;
	}

	margin-top: inherit;
	margin-bottom: inherit;

	.wp-block-cover__inner-container {
		color: var(--color, inherit);
	}
	
	[data-align="full"] & {
		margin-top: 0;
		margin-bottom: 0;
	}

	@include innerblock-margin-clear(".wp-block-cover__inner-container");

	// The background color class is used just for the overlay, and does not need to be applied to the inner container.
	&[class*="-background-color"][class] .wp-block-cover__inner-container {
		background-color: unset;
	}

	& > .wp-block-cover__background.has-surface-dark-background-color ~ .wp-block-cover__inner-container,
	& > .wp-block-cover__background.has-surface-dark-alternative-background-color ~ .wp-block-cover__inner-container,
	& > .wp-block-cover__background.has-reading-light-background-color ~ .wp-block-cover__inner-container {
		@include dark-mode;
	}
}
