.wp-block-cover,
.wp-block-cover-image {

	&:not(.alignwide):not(.alignfull) {
		clear: both;
	}

	margin-top: inherit;
	margin-bottom: inherit;

	[data-align="full"] & {
		margin-top: 0;
		margin-bottom: 0;
	}

	@include innerblock-margin-clear(".wp-block-cover__inner-container");

	// The background color class is used just for the overlay, and does not need to be applied to the inner container.
	&[class*="-background-color"][class] .wp-block-cover__inner-container {
		background-color: unset;
	}

	&.is-dark-theme .wp-block-cover__inner-container {
		@include dark-mode;
	}
}
