.wp-block-cover,
.wp-block-cover-image {

	&:not(.alignfull) {
		clear: both;
	}

	&.alignfull {
		margin-top: 0;
		margin-bottom: 0;
	}

	margin-top: inherit;
	margin-bottom: inherit;

	.wp-block-cover__inner-container {
		color: var(--color, inherit);
		
		> * {

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&.alignleft,
	&.alignright {
		margin-top: 0;

		> * {
			width: 100%;
		}
	}

	&.has-left-content,
	&.has-right-content {
		justify-content: center;
	}

	/* The background color class is used just for the overlay, and does not need to be applied to the inner container. */
	&[class*="-background-color"][class] .wp-block-cover__inner-container {
		background-color: unset;
	}

	& > .wp-block-cover__background.has-surface-dark-background-color ~ .wp-block-cover__inner-container,
	& > .wp-block-cover__background.has-surface-dark-alternative-background-color ~ .wp-block-cover__inner-container,
	& > .wp-block-cover__background.has-reading-light-background-color ~ .wp-block-cover__inner-container {
		@include dark-mode;
	}
}