.wp-block-media-text {

	[data-align="full"] & {
		margin-top: 0;
		margin-bottom: 0;
	}

	@include innerblock-margin-clear(".wp-block-media-text__content");

	.wp-block-media-text__content {
		padding: var(--wp--preset--spacing--scale-up-2, 16px);
	}
}
