.wp-block-latest-posts {
	padding-left: 0;

	// Vertical margins logic
	&:not(.is-grid) > li {
		margin-top: calc(1.666 * var(--wp--style--block-gap, 20px));
		margin-bottom: calc(1.666 * var(--wp--style--block-gap, 20px));

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.is-grid {
		word-wrap: break-word;
		word-break: break-word;

		> li {
			margin-bottom: var(--wp--style--block-gap, 20px);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	> li > * {
		margin-top: calc(0.333 * var(--wp--style--block-gap, 20px));
		margin-bottom: calc(0.333 * var(--wp--style--block-gap, 20px));

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	// Post title
	> li > a {
		display: inline-block;
		font-size: var(--latest-posts--title-font-size);
		font-weight: var(--wp--custom--font-weight--regular, 400);
		line-height: var(--wp--custom--line-height--low, 1.15);
		margin-bottom: calc(0.333 * var(--wp--style--block-gap, 20px));
	}

	// Post author
	.wp-block-latest-posts__post-author {
		color: var(--global--color-primary);
		font-size: var(--wp--preset--font-size--scale-up-02, 1.2em);
		line-height: var(--wp--custom--line-height--medium, 1.45);
	}

	// Post date
	.wp-block-latest-posts__post-date {
		color: var(--global--color-primary);
		font-size: var(--wp--preset--font-size--scale-up-01, 1.2em);
		line-height: var(--wp--custom--line-height--medium, 1.45);

		[class*="inner-container"] &,
		.has-background & {
			color: currentColor;
		}
	}

	// Post content
	.wp-block-latest-posts__post-excerpt,
	.wp-block-latest-posts__post-full-content {
		font-size: var(--latest-posts--description-font-size);
		line-height: var(--wp--custom--line-height--medium, 1.45);
		margin-top: calc(0.666 * var(--wp--style--block-gap, 20px));
	}
}
