/**
 * Responsive Styles
 */

/**
 * Required Variables
 */

$default_width: 1152px;

$breakpoint_sm: 482px;
$breakpoint_md: 576px;
$breakpoint_lg: 992px;
$breakpoint_xl: 1280px;
$breakpoint_xxl: 1600px;

// Responsive breakpoints mixin
@mixin media( $res ) {

	@if mobile-only == $res {
		@media only screen and (max-width: #{$breakpoint_sm - 1}) {
			@content;
		}
	}

	@if mobile == $res {
		@media only screen and (min-width: #{$breakpoint_sm}) {
			@content;
		}
	}

	@if tablet-only == $res {
		@media only screen and (max-width: #{$breakpoint_md - 1}) {
			@content;
		}
	}

	@if tablet == $res {
		@media only screen and (min-width: #{$breakpoint_md}) {
			@content;
		}
	}

	@if laptop-only == $res {
		@media only screen and (max-width: #{$breakpoint_lg - 1}) {
			@content;
		}
	}

	@if laptop == $res {
		@media only screen and (min-width: #{$breakpoint_lg}) {
			@content;
		}
	}

	@if desktop-only == $res {
		@media only screen and (max-width: #{$breakpoint_xl - 1}) {
			@content;
		}
	}

	@if desktop == $res {
		@media only screen and (min-width: #{$breakpoint_xl}) {
			@content;
		}
	}

	@if wide-only == $res {
		@media only screen and (max-width: #{$breakpoint_xxl - 1}) {
			@content;
		}
	}

	@if wide == $res {
		@media only screen and (min-width: #{$breakpoint_xxl}) {
			@content;
		}
	}
}

/**
 * Root Media Query Variables
 */
:root {
	--responsive--spacing-horizontal: var(--grid-portrait-margin);
	--responsive--aligndefault-width: calc(100vw - (2 * var(--responsive--spacing-horizontal) ));
	--responsive--alignfull-width: 100%;
	--responsive--alignright-margin: var(--wp--preset--spacing--scale-up-2, 16px);
	--responsive--alignleft-margin: var(--wp--preset--spacing--scale-up-2, 16px);
}


@include media(tablet) {

	:root {
		--responsive--spacing-horizontal: calc(var(--grid-tablet-margin) + var(--spacing-scale-2x));
		--responsive--aligndefault-width: calc(100vw - (2 * var(--responsive--spacing-horizontal) ));
		--responsive--alignright-margin: calc(0.5 * (100vw - var(--responsive--aligndefault-width)));
		--responsive--alignleft-margin: calc(0.5 * (100vw - var(--responsive--aligndefault-width)));
	}
}

@include media(desktop) {

	:root {
		--responsive--spacing-horizontal: calc(var(--grid-desktop-margin) + var(--spacing-scale-2x));
		--responsive--aligndefault-width: calc(var(--grid-desktop-maxwidth, 1200px) - var(--responsive--spacing-horizontal));
	}
}

@include media(wide) {

	:root {
		--responsive--spacing-horizontal: calc(var(--grid-tv-margin) + var(--spacing-scale-2x));
		--responsive--aligndefault-width: calc(var(--grid-tv-maxwidth, 1520px) - var(--responsive--spacing-horizontal));
	}
}

/**
 * Extends
 */
%responsive-aligndefault-width {
	max-width: var(--responsive--aligndefault-width);
	margin-left: auto;
	margin-right: auto;
}

%responsive-alignfull-width-mobile {
	max-width: var(--responsive--alignfull-width);
	width: var(--responsive--alignfull-width);
	margin-left: auto;
	margin-right: auto;
}

@include media(mobile) {
	%responsive-alignfull-width {
		max-width: var(--responsive--alignfull-width);
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
}
%responsive-alignfull-width-nested {
	margin-left: auto;
	margin-right: auto;
	width: calc(var(--responsive--alignfull-width) - calc(2 * var(--responsive--spacing-horizontal)));
	max-width: var(--responsive--alignfull-width);
}

@include media(desktop) {
	%responsive-alignfull-width-nested {
		margin-left: auto;
		margin-right: auto;
		width: calc(var(--responsive--alignfull-width) - calc(4 * var(--responsive--spacing-horizontal)));
		max-width: var(--responsive--alignfull-width);
	}
}


%responsive-alignleft-mobile {

	/*rtl:ignore*/
	margin-left: 0;

	/*rtl:ignore*/
	margin-right: var(--responsive--spacing-horizontal);
}

@include media(mobile) {
	%responsive-alignleft {

		/*rtl:ignore*/
		margin-left: var(--responsive--alignleft-margin);

		/*rtl:ignore*/
		margin-right: var(--wp--preset--spacing--scale-up-2, 16px);
	}
}

%responsive-alignright-mobile {

	/*rtl:ignore*/
	margin-left: var(--responsive--spacing-horizontal);

	/*rtl:ignore*/
	margin-right: 0;
}

@include media(mobile) {
	%responsive-alignright {

		/*rtl:ignore*/
		margin-left: var(--wp--preset--spacing--scale-up-2, 16px);

		/*rtl:ignore*/
		margin-right: var(--responsive--alignright-margin);
	}
}

.full-max-width {
	@extend %responsive-alignfull-width;
}
